
/* ----------------------------------------  post_display */
div#post_display div.date-frame {
    background:#f6f6f6;
    border-radius:6px;
    width:100%;
    display:block;
}


div#post_display div.image-post {
    padding-right:20px;
    width:100%;
    height:250px;
}

div#post_display div.image-post img {
    width:100%;
    height:250px;
}

div#post_display  ul.ul-sp-01 {
    display:table;
    padding-bottom:26px;
}

div#post_display  ul.ul-sp-01 li {
    display:table-cell;
    padding-right:20px;
}
div#post_display  ul.ul-sp-01 li a {

}
div#post_display  ul.ul-sp-01 li a:hover {
    color:#18ae98;
    text-decoration:underline;
}


div#post_display div.main_col_post h1 {
    font-size:24px;
    padding-bottom:20px;

}


div#post_display div.content-post-info {
    padding:20px 0 70px 0
}


div.side_bar {
    width:300px;
}

div.filter-mobile-button{
    display:none;
}

/* MOBILE */
@media (max-width: 980px) {
    div.side_bar {
        display:none;
    }

    div.filter-mobile-button{
        display:block;
    }
}
