div#pg-service-consortium div#header-one {
    background:url(../../images/headerservices.jpg) no-repeat;
    background-position:center center;
    height:410px;
}

div#pg-service-consortium div#section-two h2 {
    padding-bottom:20px;
}
div#pg-service-consortium div#section-two h2 span.sp1 {
    font-size:22px;
}
div#pg-service-consortium div#section-two h2 span.sp2 {
    font-size:26px;
}

div#pg-service-consortium section#vehicle_consortium  {
    padding-bottom:60px;
}

div#pg-service-consortium section#vehicle_consortium h2 , div#pg-service-consortium section#real_estate_consortium h2 {
    font-size:23px;
    padding-bottom:20px;
}

div#pg-service-consortium #features_banner h2 {
    text-transform: none;
}


div#pg-service-consortium #features_banner .banner_1 {
    background:url(../../images/consortium_ft_1.jpg) no-repeat;
    background-position:center center;
}

div#pg-service-consortium #features_banner .banner_2 {
    background:url(../../images/consortium_ft_2.jpg) no-repeat;
    background-position:center center;
}

div#pg-service-consortium #features_banner .banner_3 {
    background:url(../../images/consortium_ft_3.jpg) no-repeat;
    background-position:center center;
}

div#pg-service-consortium #features_banner .banner_4 {
    background:url(../../images/consortium_ft_4.jpg) no-repeat;
    background-position:center center;
}

div#pg-service-consortium #features_banner .banner_5 {
    background:url(../../images/consortium_ft_5.jpg) no-repeat;
    background-position:center center;
}

div#pg-service-consortium #features_banner .banner_6 {
    background:url(../../images/consortium_ft_6.jpg) no-repeat;
    background-position:center center;
}

/* MOBILE */
@media (max-width: 900px) {
    div#pg-service-consortium div#section-two h2 , div#pg-service-consortium section#vehicle_consortium h2 , div#pg-service-consortium section#real_estate_consortium h2   {
        text-align:center;
    }
}
