
div.modal-container {
    padding:0px !important;

}
div.content-filter {
    padding:0px !important;
    margin:0px !important;
}

div.side-bar {
    width:320px;
    height:80vh;
    position: sticky;

    text-overflow: ellipsis;
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 52%, rgba(181,181,181,0) 91%, rgba(244,244,244,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 52%, rgba(181,181,181,0) 91%, rgba(244,244,244,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 52%, rgba(181,181,181,0) 91%, rgba(244,244,244,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;

    padding:0px !important;
    margin:0px !important;
}

div.more-filter-content {
    height:80vh;
    position: sticky;
}

div.box_more_filter {
    margin: 0px !important;
    padding: 20px 0 20px 0 !important;
}

div.box_more_filter_inner {
    margin:0px !important;
    padding:0px  !important;
}


/* ----------------  MENUMAINTOP */
div.buttons_area {
    /* border-top:#c2c2c2 1px solid;*/
    padding:17px 0 17px 0  !important;
/*    margin-top:30px;*/
    margin-right:2px;
    /*height:100px;*/


    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(90deg, rgba(193,193,193,0) 0, rgba(193,193,193,0) 85%, rgba(244,244,244,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(193,193,193,0) 0, rgba(193,193,193,0) 85%, rgba(244,244,244,1) 100%);
    background: linear-gradient(0deg, rgba(193,193,193,0) 0, rgba(193,193,193,0) 85%, rgba(244,244,244,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;

}

div.filter_area {
    width: 100%;
    max-height: calc(80vh - 125px);
    /*max-height: 250px;*/
    /*  max-height: calc(80vh - 125px);
      overflow-y: auto;
      overflow-x: hidden;
      scroll-behavior: smooth;*/
    display: block;
    clear: both;

    padding:0px 20px 0 0  !important;
    margin:25px 0 0 0 !important;
}

form#filters {
    padding:0 0 0 20px !important;
    margin:0px !important;
}



form#filters fieldset{
    border:0px;
    display:block;
    margin:0px;
    padding:0 0 28px 0;
}

form#filters legend{
    font-size:17px;
    font-family:Myfont, Helvetica, Arial, Sans-Serif;
    font-weight: normal !important;
    padding:0px 0 6px  0 !important;
    text-transform: uppercase;
    color:#a6641d;
    text-align: left;
}

form#filters div.field  {
    background:none;
    font-size:15px;
    padding-bottom:5px;
}

form#filters  label {
    font-size:16px;
    padding-bottom:10px;
    text-align:left !important;
    float:left;
}


.reset-btn {
    font-size:16px;
    margin-top:10px;
}

.search_btn {
    margin-top:10px;
    margin-left:16px;
}

.reset-btn svg{
    font-size:18px;
    margin-right:14px;
}
div.results {
    float:left;
    width:280px;
}

div.results p {
    padding-left:25px;
    padding-top:15px;

}
div.results p span.sp1 {
    font-size:19px;
    float:left;
}
div.results p span.sp2 {
    font-size:17px;
    padding-top:1px;
    padding-left:4px;
    float:left;
}
ul.nav-more-options {
    padding:0px !important;
    margin:0px !important;
}
ul.nav-more-options li{
    height:55px !important;
    border-bottom:#d2d2d2 1px solid;
    /*  padding:20px 0 20px 0;*/

}

ul.nav-more-options li a{
    font-family:Myfont, Helvetica, Arial, Sans-Serif;
    font-size:17px;
    color:#4b4b4b;
    height:55px !important;
    padding-left:16px;
    padding-top:16px;
    display:block;
}

ul.nav-more-options li.first a {
    -webkit-border-radius: 6px 3px 3px / 3px 0 0;
    border-radius: 6px 3px 3px / 3px 0 0;
}

ul.nav-more-options li a.active{
    background: -webkit-radial-gradient(closest-side, rgba(53,115,173,1) 0, rgba(53,104,206,1) 59%, rgba(53,103,196,1) 100%);
    background: -moz-radial-gradient(closest-side, rgba(53,115,173,1) 0, rgba(53,104,206,1) 59%, rgba(53,103,196,1) 100%);
    background: radial-gradient(closest-side, rgba(53,115,173,1) 0, rgba(53,104,206,1) 59%, rgba(53,103,196,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;

    color:#FFF;
    /*border-left:11px solid #1181af;*/

}

a.search-btn {
    height:48px;
    width:55px;
    border-radius: 6px;
}
a.search-btn svg {
    font-size:17px;
}

div.buttons_area div.column {
    padding:0px 25px 0 0 !important;
    margin:0px !important;
}
div.modal-btns {
   /* padding:0px !important;
    margin:0px !important;*/

    /*display: flex;
    align-items: right;
    justify-content: center;*/

    display: flex;
    justify-content: flex-end;
}


div.close-mobile {
    display:none;
}

div.modal-container {
    max-width: 1200px !important;
    width:90%;
}

/* MOBILE */
@media (max-width: 1300px) {
    div.modal-container {
        max-width: 900px !important;
        width:90%;
    }

    div.side-bar {
        display:none;
    }

}
/* MOBILE */
@media (max-width: 1000px) {
    div.side-bar {
        display:none;
    }

    div.modal-container {
        position: fixed;
        background-color:#FFF !important;
        display:block !important;
        padding:0px !important;
        margin:0px !important;
        /* position:absolute;*/
        z-index:40000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width:80% !important;
        height: 100%;
        box-shadow: 3px 5px 16px -6px rgba(0,0,0,0.68);
        -webkit-box-shadow: 3px 5px 16px -6px rgba(0,0,0,0.68);
        -moz-box-shadow: 3px 5px 16px -6px rgba(0,0,0,0.68);
        border-radius:0px;

    }

    div.filter_area {
        width: 100%;
        max-height: calc(90vh - 94px);
        min-height: calc(90vh - 94px);
        display: block;
        clear: both;

        padding:0px 20px 0 0  !important;
        margin:40px 0 0 0 !important;

    }

    a.close-modal {
        display:none !important;
    }

    div.close-mobile{
        position:absolute;
        display:block;
        width:50px;
        height:50px;
        right:-20px;
        top:-20px;
        margin:26px 30px 0 0;
        z-index:5000000;
    }
    div.close-mobile a{
        font-size:23px;
        float:left;
        color:#1cae91;
        width:50px;
        height:50px;
    }

    div.close-mobile a:hover{
        color:#0ed2ab;
    }

    /* MOBILE */
    @media (max-width: 750px) {

        div.filter_area {
            max-height: calc(90vh - 140px);
            min-height: calc(90vh - 140px);
        }

        div.buttons_area {
            height:300px;
        }
        a.close-modal {
            display:none !important;
        }

        div.modal-container {
            max-width:90% !important;

        }
        div.results {
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding:15px 0 15px 0;
        }
        div.results p {
            text-align:center;
        }
        div.modal-btns {
            clear:both;
            display: flex;
            align-items: center;
            justify-content: center;
            padding:0 0 15px 0;

            width:100%;

        }
    }
}
